VITE_SERVER_URL=http://localhost:2567
VITE_COLYSEUS_ENDPOINT=http://localhost:2567
VITE_DEBUG=true
VITE_SHOW_FPS=true
VITE_INSPECTOR=true
VITE_INSPECTOR_AUTO_OPEN=false

DATABASE_URL=postgresql://dab:dab_dev_password@localhost:5432/dead_as_battle?schema=public
REDIS_URL=redis://localhost:6379
